In [315]:
import os
import shutil
import numpy as np
import pandas as pd
import datetime 
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
#import psycopg2

In [316]:
    #get names of only csv files
    csv_files = []
    for file in os.listdir(os.getcwd()):
        if file.endswith(".csv"):
            csv_files.append(file)

In [317]:
dataset_dir= 'datasets'
try:
    mkdir= 'mkdir {0}'.format(dataset_dir)
    os.sytems(mkdir)
except:
    pass

In [318]:
#try: 
   # mkdir = 'mkdir {0}'.format(dataset_dir)
    #os.system(mkdir)
#except:
    #pass

In [319]:
#moving the csv file to a designated folder
for csv in csv_files:
    mv_file = "'{0}' {1} {2}".format(csv,",", dataset_dir)
    shutil.move(csv,dataset_dir)
    print(mv_file)

'QuantumCSV.csv' , datasets
'QuantumCSV1.csv' , datasets

In [320]:
#Automating reading the csv files
data_path=os.getcwd()+'/'+dataset_dir+'/'

df={}
for file in csv_files:
    try:
        df[file]=pd.read_csv(data_path+file)
    except UnicodeDecodeError:
         df[file]=pd.read_csv(data_path+file, encoding="ISO-8859-1")
    print(file)

QuantumCSV.csv
QuantumCSV1.csv

In [321]:
#checking for any null values
for f in csv_files:
    dataframe=df[f]
    
pd.isnull(dataframe).sum()

SurfaceLongitude                       0
SurfaceLatitude                        0
BottomHoleLongitude                   75
BottomHoleLatitude                    75
Operator                               0
CompletionDate                         0
Reservoir                              0
LateralLength_FT                       2
ProppantIntensity_LBSPerFT           437
FluidIntensity_BBLPerFT              305
HzDistanceToNearestOffsetAtDrill     208
HzDistanceToNearestOffsetCurrent     208
VtDistanceToNearestOffsetCurrent     208
VtDistanceToNearestOffsetAtDrill     208
WellDepth                              1
ReservoirThickness                  3575
OilInPlace                            34
Porosity                               0
ReservoirPressure                     34
WaterSaturation                       34
StructureDerivative                  490
TotalOrganicCarbon                    63
ClayVolume                             0
CarbonateVolume                        0
Maturity                               0
TotalWellCost_USDMM                   10
CumOil12Month                          0
rowID                                  0
dtype: int64

In [322]:
#replacing all the null values with zeros instead of dropping the whole row as some of those remaining values will be useful for reservoir charecterization
#dataframe.fillna(value=0,inplace=True)
#dataframe.iloc[:,0:4]=dataframe.iloc[:,0:4].fillna(value=0,inplace=True)
#dataframe.iloc[:,4:7]=dataframe.iloc[:,4:7].dataframe.fillna(value=0,inplace=True)
#dataframe.iloc[:,7:-1]=dataframe.iloc[:,7:-1].dataframe.fillna(value=0,inplace=True)
#dataframe.iloc[:,-1:]=dataframe.iloc[:,-1:].dataframe.fillna(value=0,inplace=True)
#dataframe.fillna(0)

In [323]:
for f in csv_files:
    dataframe=df[f]
    
pd.isnull(dataframe).sum()
dataframe.head(5)

,SurfaceLongitude,SurfaceLatitude,BottomHoleLongitude,BottomHoleLatitude,Operator,CompletionDate,Reservoir,LateralLength_FT,ProppantIntensity_LBSPerFT,FluidIntensity_BBLPerFT,...,ReservoirPressure,WaterSaturation,StructureDerivative,TotalOrganicCarbon,ClayVolume,CarbonateVolume,Maturity,TotalWellCost_USDMM,CumOil12Month,rowID
0,-102.415082,32.196651,-102.414886,32.196766,OVV,9/30/2017,WOLFCAMP B,9925.0,2061.0,49.0,...,4150.9728,0.426,0.011,3.1119,0.169,0.257,0.943,5.5592,325341.6875,1
1,-102.358481,32.132822,-102.358359,32.132904,OVV,10/7/2017,SPRABERRY LOWER SHALE,9478.0,2042.0,48.0,...,2927.7631,0.319,0.005,2.8506,0.227,0.144,0.941,5.2283,211278.4063,2
2,-102.402982,32.119352,-102.402824,32.119379,OVV,10/7/2017,SPRABERRY LOWER SHALE,9295.0,2145.0,NaN,...,2230.7591,0.445,0.006,1.9771,0.173,0.177,0.944,5.2176,201117.6094,3
3,-102.373553,32.125898,-102.373553,32.125898,OVV,8/11/2017,WOLFCAMP A,9894.0,1995.0,NaN,...,3267.3561,0.311,0.003,2.5054,0.166,0.338,0.941,5.3567,297255.6250,4
4,-102.437947,32.451652,-102.437947,32.451652,OVV,8/16/2017,WOLFCAMP B,10403.0,2007.0,49.0,...,4188.9816,0.386,0.009,3.0660,0.162,0.280,0.941,5.6994,240883.1875,5

In [324]:
#checking all datatypes
dataframe.dtypes

SurfaceLongitude                    float64
SurfaceLatitude                     float64
BottomHoleLongitude                 float64
BottomHoleLatitude                  float64
Operator                             object
CompletionDate                       object
Reservoir                            object
LateralLength_FT                    float64
ProppantIntensity_LBSPerFT          float64
FluidIntensity_BBLPerFT             float64
HzDistanceToNearestOffsetAtDrill    float64
HzDistanceToNearestOffsetCurrent    float64
VtDistanceToNearestOffsetCurrent    float64
VtDistanceToNearestOffsetAtDrill    float64
WellDepth                           float64
ReservoirThickness                  float64
OilInPlace                          float64
Porosity                            float64
ReservoirPressure                   float64
WaterSaturation                     float64
StructureDerivative                 float64
TotalOrganicCarbon                  float64
ClayVolume                          float64
CarbonateVolume                     float64
Maturity                            float64
TotalWellCost_USDMM                 float64
CumOil12Month                       float64
rowID                                 int64
dtype: object

In [325]:
#Always confirming datatypes are what we want in designated columns
dataframe.iloc[:,0:4]=dataframe.iloc[:,0:4].astype('float64')
dataframe.iloc[:,4:7]=dataframe.iloc[:,4:7].astype('object')
dataframe.iloc[:,7:-1]=dataframe.iloc[:,7:-1].astype('float64')
dataframe.iloc[:,-1:]=dataframe.iloc[:,-1:].astype('int64')

In [326]:
dataframe['CompletionDate'] = pd.to_datetime(dataframe['CompletionDate'])

In [327]:
#dataframe['CompletionDate'] = dataframe['CompletionDate'].astype('object')

In [328]:
#checking all datatypes
dataframe.dtypes

SurfaceLongitude                           float64
SurfaceLatitude                            float64
BottomHoleLongitude                        float64
BottomHoleLatitude                         float64
Operator                                    object
CompletionDate                      datetime64[ns]
Reservoir                                   object
LateralLength_FT                           float64
ProppantIntensity_LBSPerFT                 float64
FluidIntensity_BBLPerFT                    float64
HzDistanceToNearestOffsetAtDrill           float64
HzDistanceToNearestOffsetCurrent           float64
VtDistanceToNearestOffsetCurrent           float64
VtDistanceToNearestOffsetAtDrill           float64
WellDepth                                  float64
ReservoirThickness                         float64
OilInPlace                                 float64
Porosity                                   float64
ReservoirPressure                          float64
WaterSaturation                            float64
StructureDerivative                        float64
TotalOrganicCarbon                         float64
ClayVolume                                 float64
CarbonateVolume                            float64
Maturity                                   float64
TotalWellCost_USDMM                        float64
CumOil12Month                              float64
rowID                                        int64
dtype: object

In [329]:
#adding calculated columns to add a comparative metric
dataframe['$/12 mth bbl']=(dataframe['TotalWellCost_USDMM']/dataframe['CumOil12Month'])*1000000

In [330]:
dataframe['DaysOnline']=((pd.to_datetime("now", format ="%y%m%d")-pd.to_datetime(dataframe['CompletionDate'],format="%d%m%y")))

ValueError: time data 'now' does not match format '%y%m%d' (match)

In [289]:
    dataframe['CumOilFlag']=["Check" if i < 400 else "Good" for i in dataframe.CumOil12Month] #at least 1bbl/day expected to run operation
    dataframe.head(20)

,SurfaceLongitude,SurfaceLatitude,BottomHoleLongitude,BottomHoleLatitude,Operator,CompletionDate,Reservoir,LateralLength_FT,ProppantIntensity_LBSPerFT,FluidIntensity_BBLPerFT,...,TotalOrganicCarbon,ClayVolume,CarbonateVolume,Maturity,TotalWellCost_USDMM,CumOil12Month,rowID,$/12 mth bbl,DaysOnline,CumOilFlag
0,-102.415082,32.196651,-102.414886,32.196766,OVV,2017-09-30,WOLFCAMP B,9925.0,2061.0,49.0,...,3.1119,0.169,0.257,0.943,5.5592,325341.6875,1,17.087266,1635 days 21:21:59.194599,Good
1,-102.358481,32.132822,-102.358359,32.132904,OVV,2017-10-07,SPRABERRY LOWER SHALE,9478.0,2042.0,48.0,...,2.8506,0.227,0.144,0.941,5.2283,211278.4063,2,24.746022,1628 days 21:21:59.194599,Good
2,-102.402982,32.119352,-102.402824,32.119379,OVV,2017-10-07,SPRABERRY LOWER SHALE,9295.0,2145.0,NaN,...,1.9771,0.173,0.177,0.944,5.2176,201117.6094,3,25.943029,1628 days 21:21:59.194599,Good
3,-102.373553,32.125898,-102.373553,32.125898,OVV,2017-08-11,WOLFCAMP A,9894.0,1995.0,NaN,...,2.5054,0.166,0.338,0.941,5.3567,297255.6250,4,18.020517,1685 days 21:21:59.194599,Good
4,-102.437947,32.451652,-102.437947,32.451652,OVV,2017-08-16,WOLFCAMP B,10403.0,2007.0,49.0,...,3.0660,0.162,0.280,0.941,5.6994,240883.1875,5,23.660431,1680 days 21:21:59.194599,Good
5,-102.438792,32.451686,-102.437947,32.451652,OVV,2017-08-01,SPRABERRY LOWER SHALE,10404.0,2013.0,48.0,...,2.8085,0.225,0.148,0.941,5.6067,151234.7656,6,37.072825,1695 days 21:21:59.194599,Good
6,-102.457401,32.417047,-102.457401,32.417047,OVV,2017-10-09,SPRABERRY LOWER SHALE,10424.0,2068.0,48.0,...,1.9898,0.233,0.117,0.941,5.6465,155705.3281,7,36.264013,1626 days 21:21:59.194599,Good
7,-102.458193,32.417605,-102.457401,32.417047,OVV,2017-08-05,WOLFCAMP A,10421.0,2099.0,51.0,...,2.2353,0.143,0.407,0.941,5.8219,244439.7188,8,23.817324,1691 days 21:21:59.194599,Good
8,-102.302192,32.404130,-102.301957,32.404460,OVV,2017-07-20,WOLFCAMP B,10405.0,2075.0,50.0,...,3.1458,0.164,0.268,0.941,5.8028,397864.9688,9,14.584848,1707 days 21:21:59.194599,Good
9,-102.430789,32.426645,-102.430045,32.426704,OVV,2017-02-08,WOLFCAMP A,7616.0,2026.0,51.0,...,2.2445,0.171,0.321,0.971,4.4826,109156.7109,10,41.065730,1869 days 21:21:59.194599,Good
10,-102.439885,32.167190,-102.439311,32.167429,OVV,2017-02-08,WOLFCAMP B,7664.0,1962.0,51.0,...,2.1691,0.133,0.371,0.971,4.5032,110990.3828,11,40.572885,1869 days 21:21:59.194599,Good
11,-102.358687,32.188682,-102.358688,32.188904,OVV,2017-02-08,WOLFCAMP A,7732.0,1970.0,50.0,...,2.2607,0.200,0.209,0.971,4.4975,477447.5938,12,9.419882,1869 days 21:21:59.194599,Good
12,-102.304793,32.426077,-102.304860,32.426525,OVV,2017-02-16,SPRABERRY LOWER SHALE,7703.0,NaN,NaN,...,2.6771,0.231,0.155,0.972,4.5631,116930.8984,13,39.023903,1861 days 21:21:59.194599,Good
13,-102.455294,32.495133,-102.454693,32.495592,OVV,2017-02-16,WOLFCAMP B,7425.0,1618.0,52.0,...,2.1888,0.136,0.363,0.972,4.1134,76212.5469,14,53.972740,1861 days 21:21:59.194599,Good
14,-102.497491,32.498654,-102.496668,32.498908,OVV,2017-02-16,WOLFCAMP C,7607.0,1532.0,52.0,...,2.1080,0.224,0.197,0.971,4.0765,29439.9160,15,138.468466,1861 days 21:21:59.194599,Good
15,-102.453692,32.502095,-102.452739,32.502165,OVV,2017-02-10,SPRABERRY LOWER SHALE,7126.0,1593.0,52.0,...,2.4900,0.242,0.131,0.971,3.8516,271021.7813,16,14.211404,1867 days 21:21:59.194599,Good
16,-102.380543,32.166255,-102.380543,32.166255,OVV,2017-02-10,SPRABERRY LOWER SHALE,7519.0,1517.0,48.0,...,2.3287,0.236,0.133,0.971,3.9323,136142.8906,17,28.883624,1867 days 21:21:59.194599,Good
17,-102.380186,32.166190,-102.380543,32.166255,OVV,2017-02-10,WOLFCAMP A,7657.0,1494.0,48.0,...,2.2595,0.173,0.316,0.971,3.9980,61698.3828,18,64.799105,1867 days 21:21:59.194599,Good
18,-102.380543,32.166255,-102.380543,32.166255,OVV,2017-02-10,WOLFCAMP B,7645.0,1508.0,49.0,...,2.2179,0.135,0.363,0.971,4.0657,75152.4063,19,54.099399,1867 days 21:21:59.194599,Good
19,-102.366583,32.282969,-102.366418,32.282633,COP,2015-12-19,WOLFCAMP B,5051.0,1475.0,48.0,...,2.2081,0.138,0.366,0.967,3.3347,86163.4453,20,38.702027,2286 days 21:21:59.194599,Good

In [331]:
dataframe=dataframe.rename(columns={'$/12 mth bbl':'Dollar_Per_12_mth_bbl'})
dataframe.head(5)

,SurfaceLongitude,SurfaceLatitude,BottomHoleLongitude,BottomHoleLatitude,Operator,CompletionDate,Reservoir,LateralLength_FT,ProppantIntensity_LBSPerFT,FluidIntensity_BBLPerFT,...,WaterSaturation,StructureDerivative,TotalOrganicCarbon,ClayVolume,CarbonateVolume,Maturity,TotalWellCost_USDMM,CumOil12Month,rowID,Dollar_Per_12_mth_bbl
0,-102.415082,32.196651,-102.414886,32.196766,OVV,2017-09-30,WOLFCAMP B,9925.0,2061.0,49.0,...,0.426,0.011,3.1119,0.169,0.257,0.943,5.5592,325341.6875,1,17.087266
1,-102.358481,32.132822,-102.358359,32.132904,OVV,2017-10-07,SPRABERRY LOWER SHALE,9478.0,2042.0,48.0,...,0.319,0.005,2.8506,0.227,0.144,0.941,5.2283,211278.4063,2,24.746022
2,-102.402982,32.119352,-102.402824,32.119379,OVV,2017-10-07,SPRABERRY LOWER SHALE,9295.0,2145.0,NaN,...,0.445,0.006,1.9771,0.173,0.177,0.944,5.2176,201117.6094,3,25.943029
3,-102.373553,32.125898,-102.373553,32.125898,OVV,2017-08-11,WOLFCAMP A,9894.0,1995.0,NaN,...,0.311,0.003,2.5054,0.166,0.338,0.941,5.3567,297255.6250,4,18.020517
4,-102.437947,32.451652,-102.437947,32.451652,OVV,2017-08-16,WOLFCAMP B,10403.0,2007.0,49.0,...,0.386,0.009,3.0660,0.162,0.280,0.941,5.6994,240883.1875,5,23.660431

In [332]:
ds = dataframe.isin([np.inf, -np.inf]).sum() #to disply if there is any infinite values
print(ds)

SurfaceLongitude                    0
SurfaceLatitude                     0
BottomHoleLongitude                 0
BottomHoleLatitude                  0
Operator                            0
CompletionDate                      0
Reservoir                           0
LateralLength_FT                    0
ProppantIntensity_LBSPerFT          0
FluidIntensity_BBLPerFT             0
HzDistanceToNearestOffsetAtDrill    0
HzDistanceToNearestOffsetCurrent    0
VtDistanceToNearestOffsetCurrent    0
VtDistanceToNearestOffsetAtDrill    0
WellDepth                           0
ReservoirThickness                  0
OilInPlace                          0
Porosity                            0
ReservoirPressure                   0
WaterSaturation                     0
StructureDerivative                 0
TotalOrganicCarbon                  0
ClayVolume                          0
CarbonateVolume                     0
Maturity                            0
TotalWellCost_USDMM                 0
CumOil12Month                       0
rowID                               0
Dollar_Per_12_mth_bbl               1
dtype: int64

In [333]:
#dataframe.dropna(how="all", with_inf=True) To drop Null values.
dataframe.replace([np.inf, -np.inf], np.nan, inplace=True)

In [313]:
ds = dataframe.isin([np.inf, -np.inf]).sum() #to disply if there is any infinite values
print(ds)

SurfaceLongitude                    0
SurfaceLatitude                     0
BottomHoleLongitude                 0
BottomHoleLatitude                  0
Operator                            0
CompletionDate                      0
Reservoir                           0
LateralLength_FT                    0
ProppantIntensity_LBSPerFT          0
FluidIntensity_BBLPerFT             0
HzDistanceToNearestOffsetAtDrill    0
HzDistanceToNearestOffsetCurrent    0
VtDistanceToNearestOffsetCurrent    0
VtDistanceToNearestOffsetAtDrill    0
WellDepth                           0
ReservoirThickness                  0
OilInPlace                          0
Porosity                            0
ReservoirPressure                   0
WaterSaturation                     0
StructureDerivative                 0
TotalOrganicCarbon                  0
ClayVolume                          0
CarbonateVolume                     0
Maturity                            0
TotalWellCost_USDMM                 0
CumOil12Month                       0
rowID                               0
$/12 mth bbl                        0
DaysOnline                          0
CumOilFlag                          0
dtype: int64

In [334]:
#SQL server connection string

SERVER='OHYWSQL6-D'
DATABASE='DPMO'
DRIVER='SQL Server Native Client 11.0'
USERNAME='dpmo_admin'
PASSWORD='dP^0_@dm!n'
DATABASE_CONNECTION= r'mssql+pyodbc://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

connection_string = "DRIVER={SQL Server Native Client 11.0};SERVER=OHYWSQL6-D;DATABASE=DPMO;UID=dpmo_admin;PWD=dP^0_@dm!n"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine=create_engine(connection_url)
connection=engine.connect()

In [335]:
#data=pd.read_sql_query("Select * from [DPMO].[dbo].[DPMO_PROJECT_SUMMARY_MFTEST]",connection)

In [337]:
dataframe.to_sql('dbo.FARUQUE_TEST',connection, if_exists="append", index=False)

ProgrammingError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][SQL Server Native Client 11.0][SQL Server]Invalid column name 'Dollar_Per_12_mth_bbl'. (207) (SQLExecDirectW); [42S22] [Microsoft][SQL Server Native Client 11.0][SQL Server]Statement(s) could not be prepared. (8180)")
[SQL: INSERT INTO [dbo.FARUQUE_TEST] ([SurfaceLongitude], [SurfaceLatitude], [BottomHoleLongitude], [BottomHoleLatitude], [Operator], [CompletionDate], [Reservoir], [LateralLength_FT], [ProppantIntensity_LBSPerFT], [FluidIntensity_BBLPerFT], [HzDistanceToNearestOffsetAtDrill], [HzDistanceToNearestOffsetCurrent], [VtDistanceToNearestOffsetCurrent], [VtDistanceToNearestOffsetAtDrill], [WellDepth], [ReservoirThickness], [OilInPlace], [Porosity], [ReservoirPressure], [WaterSaturation], [StructureDerivative], [TotalOrganicCarbon], [ClayVolume], [CarbonateVolume], [Maturity], [TotalWellCost_USDMM], [CumOil12Month], [rowID], [Dollar_Per_12_mth_bbl]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((-102.4150819, 32.19665122, -102.4148857, 32.19676612, 'OVV', datetime.datetime(2017, 9, 30, 0, 0), 'WOLFCAMP B', 9925.0, 2061.0, 49.0, 275.089, 275.089, 9.258, 258.263, 6818.863, 439.838, 22821.2075, 0.056, 4150.9728, 0.426, 0.011, 3.1119, 0.169, 0.257, 0.943, 5.5592, 325341.6875, 1, 17.087266137697153), (-102.3584814, 32.13282179, -102.3583593, 32.13290431, 'OVV', datetime.datetime(2017, 10, 7, 0, 0), 'SPRABERRY LOWER SHALE', 9478.0, 2042.0, 48.0, 300.346, 300.346, 3.12, 231.585, 6149.57, None, 30333.523, 0.055, 2927.7631, 0.319, 0.005, 2.8506, 0.227, 0.144, 0.941, 5.2283, 211278.4063, 2, 24.74602157201145), (-102.4029824, 32.11935189, -102.4028244, 32.1193791, 'OVV', datetime.datetime(2017, 10, 7, 0, 0), 'SPRABERRY LOWER SHALE', 9295.0, 2145.0, None, 299.14, 299.14, 228.466, 228.466, 5917.984, None, 16238.109, 0.047, 2230.7591, 0.445, 0.006, 1.9771, 0.173, 0.177, 0.944, 5.2176, 201117.6094, 3, 25.943029133877527), (-102.373553, 32.12589817, -102.373553, 32.12589817, 'OVV', datetime.datetime(2017, 8, 11, 0, 0), 'WOLFCAMP A', 9894.0, 1995.0, None, 274.886, 274.886, 249.005, 249.005, 6560.6, None, 24069.54, 0.048, 3267.3561, 0.311, 0.003, 2.5054, 0.166, 0.338, 0.941, 5.3567, 297255.625, 4, 18.020516853129358), (-102.4379471, 32.45165207, -102.4379471, 32.45165207, 'OVV', datetime.datetime(2017, 8, 16, 0, 0), 'WOLFCAMP B', 10403.0, 2007.0, 49.0, 291.223, 291.223, 219.828, 219.828, 6809.605, 442.147, 24158.275, 0.057, 4188.9816, 0.386, 0.009, 3.066, 0.162, 0.28, 0.941, 5.6994, 240883.1875, 5, 23.66043084679789), (-102.4387922, 32.45168585, -102.4379471, 32.45165207, 'OVV', datetime.datetime(2017, 8, 1, 0, 0), 'SPRABERRY LOWER SHALE', 10404.0, 2013.0, 48.0, 302.387, 302.387, 221.286, 221.286, 6146.45, None, 29350.566, 0.052, 3002.7919, 0.3, 0.005, 2.8085, 0.225, 0.148, 0.941, 5.6067, 151234.7656, 6, 37.072825006580366), (-102.4574006, 32.41704673, -102.4574006, 32.41704673, 'OVV', datetime.datetime(2017, 10, 9, 0, 0), 'SPRABERRY LOWER SHALE', 10424.0, 2068.0, 48.0, 302.534, 302.534, 221.286, 221.286, 5925.164, None, 17631.425, 0.049, 2220.281, 0.557, 0.005, 1.9898, 0.233, 0.117, 0.941, 5.6465, 155705.3281, 7, 36.26401272776997), (-102.4581933, 32.41760451, -102.4574006, 32.41704673, 'OVV', datetime.datetime(2017, 8, 5, 0, 0), 'WOLFCAMP A', 10421.0, 2099.0, 51.0, 261.164, 261.164, 219.828, 219.828, 6589.778, None, 22530.211, 0.044, 3498.5851, 0.291, 0.004, 2.2353, 0.143, 0.407, 0.941, 5.8219, 244439.7188, 8, 23.81732407720312)  ... displaying 10 of 6098 total bound parameter sets ...  (-101.6180986, 32.49403107, -101.6108625, 32.46838305, 'SM', datetime.datetime(2017, 5, 8, 0, 0), 'WOLFCAMP A', 10315.0, 1861.0, 61.0, 658.003, 658.003, 3.712, 3.712, 4763.963, None, 11888.5647, 0.051, 2188.0444, 0.521, 0.024, 2.429, 0.177, 0.191, 0.854, 5.6686, 142699.77, 6097, 39.72396031191921), (-101.5856821, 32.51714482, -101.5769162, 32.49756725, 'APA', datetime.datetime(2014, 12, 15, 0, 0), 'WOLFCAMP B', 8946.0, 1933.0, 40.0, None, None, None, None, 5444.861, 439.066, 8516.495, 0.028, 2963.254, 0.602, 0.017, 1.8184, 0.146, 0.508, 0.889, 4.8049, 53595.0, 6098, 89.65201977796436))]
(Background on this error at: https://sqlalche.me/e/14/f405)