In [12]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pandas as pd

In [13]:
SERVER='OHYWSQL6-D'
DATABASE='DPMO'
DRIVER='SQL Server Native Client 11.0'
USERNAME='dpmo_admin'
PASSWORD='dP^0_@dm!n'
DATABASE_CONNECTION= r'mssql+pyodbc://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

connection_string = "DRIVER={SQL Server Native Client 11.0};SERVER=OHYWSQL6-D;DATABASE=DPMO;UID=dpmo_admin;PWD=dP^0_@dm!n"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine=create_engine(connection_url)
connection=engine.connect()

In [16]:
data=pd.read_sql_query("Select * from [DPMO].[dbo].[DPMO_PROJECT_SUMMARY_MFTEST]",connection)

In [19]:
print(connection_url)

mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server+Native+Client+11.0%7D%3BSERVER%3DOHYWSQL6-D%3BDATABASE%3DDPMO%3BUID%3Ddpmo_admin%3BPWD%3DdP%5E0_%40dm%21n

In [20]:
data.head()

,Record_ID,Ticket_Number,Status,Assigned_To,Submitted_By,Description,Created_By
0,237,100.0,In Progress,Mary,Faruque,1.0,None
1,238,101.0,On Hold,Faruque,Mary,2.0,None
2,239,102.0,Finalized,Chad,Faruque,3.0,None
3,240,104.0,New Request,Faruque,Mary,4.0,None
4,241,56.0,Done,Mary,Mary,6.0,None